{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block temp_content %}
<h1>Welcome to the About Us page!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur velit maiores, sed aliquid nulla in deserunt incidunt dolorem enim quidem quo perferendis fugiat voluptatibus optio, temporibus facere soluta ex veritatis nostrum, voluptate tempore eveniet accusamus aperiam. Ab blanditiis, explicabo quidem distinctio atque quod enim voluptatibus voluptates repellendus eaque perferendis itaque dicta possimus quasi nostrum aut aliquam unde molestias voluptas, odio suscipit magni! Praesentium exercitationem impedit quia assumenda consequuntur maxime id fuga officiis cupiditate neque deleniti molestias temporibus, magnam eligendi ullam tempore quis sit ea a corporis? Voluptas quam labore veniam recusandae illo eum alias nemo voluptate quos, quasi esse!</p>
{% endblock %}
